body {
  background-image: url("assets/images/logo.png");
  width: 60%;
}
#game-over-text,
li #ans,
li #reload {
  display: none;
}
#game-over-text.active,
#reload.active {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
#ans.active {
  font-size: 18px;
  color: rgb(255, 0, 128);
  display: block;
}
#wordArr-text {
  white-space: pre;
}
button {
  margin-left: 650px;
}
h1,
h2 {
  color: #0bec0b;
  font-weight: bold;
  text-align: center;
  margin-left: 410px;
}
h1 {
  margin-top: 40px;
  font-size: 50px;
}
.card-text {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
}
